/*section class="examples"*/

.examples {
    padding-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example__card {
    max-width: 1008px;
    margin: 0 auto;
    margin-bottom: 161px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.example__img {
    max-width: 558px;
    margin: 0 19.5px;
}

@media screen and (max-device-width: 557px) {
    .example__png {
        width: 280px;
    }
}

.example__text {
    max-width: 450px;
    padding-left: 58px;
    padding-right: 62px;
}

.example__title {
    margin-top: 25px;
    margin-bottom: 22px;
    @include font(400, 3.8rem, 4.8rem, $col__2);
}

.title__margin {
    margin-top: 20px;
    margin-bottom: 27px;
}

.example__subtitle {
    @include font(400, 1.6rem, 3rem, $col__3);
}