/*footer*/
/*section class="start"*/

.start {
    padding-top: 164px;
    padding-bottom: 157px;
    text-align: center;
    background: linear-gradient( to right, #CF0063, #450E4B);
}

.start__text {
    margin-bottom: 40px;
}

.footer__title {
    @include font(400, 3.8rem, 4.8rem, $col__1);
}

.start__buttons {
    max-width: 371px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-device-width: 371px) {
        justify-content: center;
    }
}

.button__width {
    max-width: 190px;

    @media screen and (max-device-width: 363px) {
        margin: 1px;
    }
}

/*section class="udates"*/

.updates {
    background-color: #1B1B1B;
    padding-top: 129px;
    padding-bottom: 68.7px;
    text-align:center;
}

.updates__subtitle {
    margin-top: 20px;
    margin-bottom: 40px;
    @include font(400, 1.6rem, 3rem, $col__3);
}

.email__form {
    width: 311px;
    padding: 22px;
    background-color: $col__1;
    @include font(400, 1.6rem, 2.6rem, $col__1);
}

.email__button {
    color: #1C1C1C;

    &:hover {
        color: $col__1;
    }
}

.sign {
    margin: 0 auto;
    margin-top: 146px;
    margin-bottom: 25px;
}

.social {
    max-width: 535px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social__link {
    @include font(400, 1.1rem, 2rem, $col__3);
}