/*header*/

.header__container {
    max-width: 1152px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-width: 120px;
    max-height: 43px;
    z-index: 100;
}

.header__menu {
    padding: 0 15px;
    z-index: 100;
    align-items: center;
}

.menu__points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu__point {
    margin-right: 35px;

    &:last-child {
        margin: 0;
    }
}

.menu__link {
    @include font(400, 1.5rem, 2rem, $col__1);
}