/*section class="hero"*/

.hero {
    margin-top: -100px;
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), linear-gradient(0deg, #CF0063, #CF0063);
    padding-top: 120px;
}

.hero__container {
    max-width: 1352px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
}

.hero__png {
    display: block;
    max-width: 652px;
    max-height: 680px;
}

.hero__container2 {
    max-width: 1152px;
    margin: 0 auto;
    position: relative;
    bottom: 502px;
}

.hero__title {
    margin-bottom: 10px;
    @include font(400, 8rem, 8rem, $col__1);
    display: flex;
    flex-wrap: wrap;
}

.hero__subtitle {
    margin-bottom: 25px;
    @include font(400, 3rem, 4.4rem, $col__1);
    display: flex;
    flex-wrap: wrap;
}

@import '../components/button';

.cursor {
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 295px;
}