/*section class="logos"*/

.logos {
    padding-top: 121px;
    padding-bottom: 118px;
    text-align: center;
}

.logos__img {
    @media screen and (max-device-width: 1008px) {
        width: 991px;
    }

    @media screen and (max-device-width: 990px) {
        width: 767px;
    }

    @media screen and (max-device-width: 766px) {
        width: 479px;
    }

    @media screen and (max-device-width: 479px) {
        width: 320px;
    }
}