/*section class="main"*/

.main {
    background-color: #1B1B1B;
    margin-top: -265px;
    padding-top: 100px;
    text-align: center;
}

.main__name {
    margin: 0 auto;
    @include font(400, 1.2rem, 2rem, #A8A8A8);
    letter-spacing: 2px;
}

.main__title {
    max-width: 607px;
    padding-top: 30px;
    padding-bottom: 55px;
    margin: 0 auto;
    @include font(400, 3.8rem, 4.8rem, $col__1);
}

.main__img {
    margin: 0 auto;
    max-width: 1200px;
}

.main__png {
    @media screen and (max-device-width: 1008px) {
        width: 991px;
    }
    
    @media screen and (max-device-width: 990px) {
        width: 767px;
    }
    
    @media screen and (max-device-width: 766px) {
        width: 479px;
    }
    
    @media screen and (max-device-width: 479px) {
        width: 320px;
    }
}