/*main*/
/*section class="hero"*/

.hero {
    margin-top: -100px;
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), linear-gradient(0deg, #CF0063, #CF0063);
    padding-top: 120px;
}

.hero__container {
    max-width: 1352px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
}

.hero__png {
    display: block;
    max-width: 652px;
    max-height: 680px;
}

.hero__container2 {
    max-width: 1152px;
    margin: 0 auto;
    position: relative;
    bottom: 502px;
}

.hero__title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 8rem;
    line-height: 8rem;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}

.hero__subtitle {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 4.4rem;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}

.button {
    background-color: #FC0A7E;
    max-width: 170px;
    padding: 20px 40px;
}

.button__background {
    background-color: #FC0A7E;
    border: none;
}

.button__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #FFFFFF;
}

/*section class="main"*/

.main {
    background-color: #1B1B1B;
    margin-top: -225px;
    padding-top: 100px;
    text-align: center;
}

.main__name {
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.0rem;
    letter-spacing: 2px;
    color: #A8A8A8;
}

.main__title {
    max-width: 607px;
    padding-top: 30px;
    padding-bottom: 55px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 4.8rem;
    color: #FFFFFF;
}

.main__img {
    margin: 0 auto;
    max-width: 1200px;
}

@media screen and (max-device-width: 1008px) {
    .main__png {
        width: 991px;
    }
}

@media screen and (max-device-width: 990px) {
    .main__png {
        width: 767px;
    }
}

@media screen and (max-device-width: 766px) {
    .main__png {
        width: 479px;
    }
}

@media screen and (max-device-width: 479px) {
    .main__png {
        width: 320px;
    }
}

/*section class="using"*/

.using {
    padding-top: 81.5px;
}

.using__card {
    max-width: 1008px;
    margin: 0 auto;
    padding-bottom: 158.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
 .using__image {
    width: 558px;
    text-align: center;
 }

 @media screen and (max-device-width: 386px) {
    .using__png {
        width: 320px;
    }
}

 .using__text {
    padding-left: 58px;
    padding-right: 86px;
 }

.text__name {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.0rem;
    letter-spacing: 2px;
    color: #A8A8A8;
}

.text__title {
    max-width: 302px;
    padding-top: 25px;
    padding-bottom: 22px;
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 4.8rem;
    color: #000000;
}

.text__subtitle {
    max-width: 306px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.0rem;
    color: #6B6B6B;
}

/*section class="advantages"*/

.advantages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.advantage__card {
    width: 432px;
    padding: 0 30.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advantage__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 17px;
}

/*section class="statistics"*/

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.statistic__card {
    width: 324px;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.statistic__number {
    font-weight: 400;
    font-size: 5.9rem;
    line-height: 9rem;
    color: #333333;
    margin-bottom: 10px;
}

.statistic__text {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #000000;
}

/*section class="examples"*/

.examples {
    padding-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example__card {
    max-width: 1008px;
    margin: 0 auto;
    margin-bottom: 161px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.example__img {
    max-width: 558px;
    margin: 0 19.5px;
}

@media screen and (max-device-width: 557px) {
    .example__png {
        width: 280px;
    }
}

.example__text {
    max-width: 450px;
    padding-left: 58px;
    padding-right: 62px;
}

.example__title {
    margin-top: 25px;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 4.8rem;
    color: #000000;
}

.title__margin {
    margin-top: 20px;
    margin-bottom: 27px;
}

.example__subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #6B6B6B;
}

/*section class="quote"*/

.quote__container {
    max-width: 680px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quote__text {
    margin-top: 63px;
    margin-bottom: 17.38px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    color: #6B6B6B;
}

.quote__author {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.author__name {
    margin-right: 25px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #6B6B6B;
}

.author__magazine {
    margin-bottom: 66px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #6B6B6B;
}

.squares {
    width: 30px;
    padding-top: 17px;
    padding-bottom: 21.24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*section class="logos"*/

.logos {
    padding-top: 121px;
    padding-bottom: 118px;
    text-align: center;
}

@media screen and (max-device-width: 1008px) {
    .logos__img {
        width: 991px;
    }
}

@media screen and (max-device-width: 990px) {
    .logos__img {
        width: 767px;
    }
}

@media screen and (max-device-width: 766px) {
    .logos__img {
        width: 479px;
    }
}

@media screen and (max-device-width: 479px) {
    .logos__img {
        width: 320px;
    }
}

/*section class="phones"*/

.phones__container {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 518px;
    background-image: url('../images/phones.png');
}