/*section class="using"*/

.using {
    padding-top: 75px;
}

.using__card {
    max-width: 1008px;
    margin: 0 auto;
    padding-bottom: 158.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
 .using__image {
    width: 558px;
    text-align: center;
 }

 @media screen and (max-device-width: 386px) {
    .using__png {
        width: 320px;
    }
}

 .using__text {
    padding-left: 58px;
    padding-right: 86px;
 }

.text__name {
    @include font(400, 1.2rem, 2rem, #A8A8A8);
    letter-spacing: 2px;
}

.text__title {
    max-width: 302px;
    padding-top: 25px;
    padding-bottom: 22px;
    @include font(400, 3.8rem, 4.8rem, $col__2);
}

.text__subtitle {
    max-width: 306px;
    @include font(400, 1.6rem, 3.0rem, $col__3);
}